name: Latest Blog Posts
on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:  # Manual trigger

jobs:
  update-readme:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Pull in blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://lscaturchio.xyz/api/rss"
          max_post_count: 5
          readme_path: "./README.md"
          comment_tag_name: "BLOG-POST-LIST"
